.App{
  height: 100vh;
  background-color:hsla(353,0%,0%,0.28);
background-image:
radial-gradient(at 62% 98%, hsla(316,75%,56%,1) 0px, transparent 50%),
radial-gradient(at 35% 29%, hsla(29,31%,6%,1) 0px, transparent 50%),
radial-gradient(at 80% 100%, hsla(295,36%,31%,1) 0px,)
}